.hero {
    background-color: black;   
    margin-top: -10px;
}

.subtitle {
    color: #f0f2f2;
}

.robImage {
    background: url(assets/Rob.png);
    position: center center;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.about {
    padding-top: 40px;
}

.founder {
    color: white;
}

.founder h4 {
    margin-top: 10px;
}
