.accordian {
    margin-top: 100px;
    margin-bottom: 100px;
}

.accordianBody {
    padding: 5px 5px 5px 5px!important;
}

.accordianBody p {
    padding-top: 10px;
}

.accordianBody li {
    list-style: square;
    margin-left: 50px;
}