/* Style the video: 100% width and height to cover the entire window */
.sizzle {
    position: relative;
}



/* Add some content at the bottom of the video/page */
.sizzleContent {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    margin-bottom: 200px;
}


.circle8Logo {
    background: url(assets/Logo2.png);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 70%;
    margin: 0 auto;
}
  
hr {
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: -130px;
    height: 2px;
  }

.sizzleText {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: -100px;
}
