/* Style the video: 100% width and height to cover the entire window */
.sizzle {
    position: relative;
}



/* Add some content at the bottom of the video/page */
.sizzleOverlay {
    background: rgba(0, 0, 0, 0.70);
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 110%;
    margin-bottom: -40px
}

.sizzleContent {
    height: 300px;
    padding-top: 100px;
}


.circle8Logo {
    background: url(assets/Logo2.png);
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}
  
hr {
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: -130px;
    height: 2px;
  }

.sizzleText {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
